<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ (C) Copyright IBM Deutschland GmbH 2021
  ~ (C) Copyright IBM Corp. 2021
  -->

<manifest package="de.rki.covpass.sdk"
  xmlns:tools="http://schemas.android.com/tools">
  <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
</manifest>
