<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ (C) Copyright IBM Deutschland GmbH 2021
  ~ (C) Copyright IBM Corp. 2021
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ibm.health.vaccination.app.vaccinee">

  <application
    android:name=".App"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round">

    <activity
      android:name=".main.MainActivity"
      android:screenOrientation="portrait"
      android:label="@string/cert_app_name"
      android:theme="@style/VaccinationAppTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
